*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 50px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* ---- HEAD ---- */
header {
    
    width:100%;
    background-color: #2FBC9C;
    padding: 50px 0;
    text-align: center;
    line-height: 2;
    color: #fff;
}

.links-container{
    padding: 20px 20px;
    background-color: #333333;
}

.links-container > a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.1em
}

/* ---- MAIN ---- */

main{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
}

.inner-space{
    padding: 20px 10px;
}

.main-left{
    flex-basis: 25%;
    background-color: #F1F1F1;
}

.main-right{
    flex-basis: 75%;
    background-color: #FFF;
}
.main-right > div:not(:last-child){
    margin-bottom: 50px;
}

.sub-heading{
    padding: 15px 0;
}

.img-holder, .img-holder-small{
    position: relative;
    background-color: #AAAAAA;
    width: 100%;
    padding: 25px;
    margin-bottom: 15px;
    height: 20vh;
}

.img-holder-small{
    height: 8vh;
    margin: 15px 0;
}

.centered-img{
    position: absolute;
    text-align: center;
    display: inline-block;
    left:50%;
    transform: translateX(-50%);
}

.img-small{
    max-width: 50px;
    top:50%;
    transform: translate(-50%, -50%);
    
}

.content{
    line-height: 1.5;
}


/* ---- FOOTER ---- */

footer{
    padding: 30px;
    text-align: center;
    background-color: #DDDDDD;
}
